* {
  margin: 0;
  padding: 0;
}

.start-recipe-btn {
  background: rgba(252, 196, 54, 1);
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0;
  width: 100%;
}

.share-and-favorite-container {
  color: white;
  left: 90%;
  position: absolute;
  z-index: 15;
}

.share-and-favorite-container button {
  background: rgba(252, 196, 54, 1);
  border: none;
  border-radius: 50px;
  margin-top: 5px;
  padding: 5px;
}

.home-container {
  position: absolute;
  right: 88%;
  top: 1%;
  z-index: 15;
}

.home-logo-button {
  background: rgba(252, 196, 54, 1);
  border-radius: 10px;
  padding: 5px;
  width: 40px;
}

.apresentation-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
}

.recipe-photo {
  filter: brightness(0.75);
  height: 200px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.recipe-title {
  color: white;
  font-weight: 700;
  letter-spacing: 3px;
  margin-top: 80px;
  text-align: center;
  z-index: 10;
}

.recipe-category {
  text-align: center;
}

.tag-h2 {
  text-align: center;
}

.ingredients-container {
  border: solid rgb(180, 180, 180) 1px;
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px;
  width: 95%;
}

.ingredient-li {
  margin-left: 15px;
}

.instructions-container {
  align-items: center;
  border: solid rgb(180, 180, 180) 1px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px;
  width: 95%;
}

.recomendation-card {
  border: solid rgb(180, 180, 180) 1px;
  border-radius: 10px;
}

.caroussel-container {
  list-style: none;
  margin: 20px auto 40px;
}

.caroussel-container img {
  border-radius: 9px 9px 0 0;
}
