* {
  margin: 0;
  padding: 0;
}

.login-title {
  color: white;
  font-weight: 700;
}

.login-input {
  background-color: rgb(228, 228, 228);
  border: none;
  border-radius: 8px;
  padding: 5px;
}

.login-button {
  background: rgba(252, 220, 54, 1);
  border: none;
  border-radius: 40px;
  color: rgba(65, 25, 127, 1);
  font-weight: 700;
  padding: 10px 35%;
}

.login-button:disabled {
  background-color: rgb(228, 228, 228);
  color: rgb(157, 115, 221);
}

.login-container {
  align-items: center;
  background-color: rgba(65, 25, 127, 1);
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: system-ui , -apple-system , Open Sans , Helvetica Neue , sans-serif;
  font-weight: 700;
  gap: 20px;
  justify-items: center;
  margin: auto;
  margin-top: 50%;
  max-width: 80%;
  padding: 20px;
}
